<div class="jumbotron">
  <h4>Shut up and take my <i class="fa {{currentCurrency.symbol}}">({{currentCurrency.name}})</i> -- wallet app</h4>
  <h4></h4>
  <select class="form-control" name="currency" id="currency" ng-options="currency as currency.name for currency in currencies" ng-model="currentCurrency" ng-change="createWallet()">
  </select>
</div>

<div class="row marketing">
  <banknote  ng-repeat="banknote in wallet.banknotes"
             currency="currentCurrency"
             banknote="banknote"
             add="addMoney(banknote)"
             remove="removeMoney(banknote)">
  </banknote>
  <div class="clearfix"></div>
  <div class="col-xs-12" style="font-weight: bold;font-size: 17px">Total:<span id="total">{{wallet.total}}</span> <i class="fa {{currentCurrency.symbol}}"></i></div>
</div>

<div class="row marketing">
  <div ng-repeat="transaction in transactions"
       ng-class="{'alert alert-success':transaction.type == 'add', 'alert alert-danger':transaction.type == 'remove'}"
    >
    Ammount: <i class="fa {{currentCurrency.symbol}}"></i>{{transaction.value}} <br/>
    Date: {{transaction.date | date: 'medium'}}
  </div>
</div>
